/* YourComponent.css */
.text-invisible {
    position: relative;
  }
  
  .text-invisible::before {
    content: attr(data-text);
    position: absolute;
    bottom: -100%; /* Initial position to hide text */
    left: 0;
    transition: bottom 0.3s;
  }
  
  .btn:hover .text-invisible::before {
    bottom: 0; /* Move text to its original position on hover */
  }
  